@page "/eventitems"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FinalProject.Models
@using FinalProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FinalProject.Data.FinalProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="eventitems/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.EventItem">
    <PropertyColumn Property="eventitem => eventitem.Title" />
    <PropertyColumn Property="eventitem => eventitem.Description" />
    <PropertyColumn Property="eventitem => eventitem.Date" />
    <PropertyColumn Property="eventitem => eventitem.TimeStart" />
    <PropertyColumn Property="eventitem => eventitem.TimeEnd" />

    <TemplateColumn Context="eventitem">
        <a href="@($"eventitems/edit?id={eventitem.Id}")">Edit</a> |
        <a href="@($"eventitems/details?id={eventitem.Id}")">Details</a> |
        <a href="@($"eventitems/delete?id={eventitem.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FinalProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
