@page "/dog/view"
@using Microsoft.EntityFrameworkCore
@using FinalProject.Models
@using FinalProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FinalProject.Data.ApplicationDbContext> DbFactory

<PageTitle>View Listings</PageTitle>

<h1>Listing</h1>

<p>
    <a href="dogprofiles/create">Create New</a>
</p>


@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
