@page "/dog/edit"
@using Microsoft.EntityFrameworkCore
@using FinalProject.Models
@inject IDbContextFactory<FinalProject.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit Listing</PageTitle>

<h1>Edit</h1>

<h2>DogProfile</h2>
<hr />
@if (DogProfile is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="DogProfile" OnValidSubmit="UpdateDogProfile" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="DogProfile.Id" value="@DogProfile.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="DogProfile.Name" class="form-control" />
                    <ValidationMessage For="() => DogProfile.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="breed" class="form-label">Breed:</label>
                    <InputText id="breed" @bind-Value="DogProfile.Breed" class="form-control" />
                    <ValidationMessage For="() => DogProfile.Breed" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <InputNumber id="age" @bind-Value="DogProfile.Age" class="form-control" />
                    <ValidationMessage For="() => DogProfile.Age" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="size" class="form-label">Size:</label>
                    <InputText id="size" @bind-Value="DogProfile.Size" class="form-control" />
                    <ValidationMessage For="() => DogProfile.Size" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="DogProfile.Location" class="form-control" />
                    <ValidationMessage For="() => DogProfile.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="DogProfile.Description" class="form-control" />
                    <ValidationMessage For="() => DogProfile.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imageurl" class="form-label">ImageUrl:</label>
                    <InputText id="imageurl" @bind-Value="DogProfile.ImageUrl" class="form-control" />
                    <ValidationMessage For="() => DogProfile.ImageUrl" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/dogprofiles">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private DogProfile? DogProfile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        DogProfile ??= await context.DogProfile.FirstOrDefaultAsync(m => m.Id == Id);

        if (DogProfile is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDogProfile()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(DogProfile!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DogProfileExists(DogProfile!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/dogprofiles");
    }

    private bool DogProfileExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.DogProfile.Any(e => e.Id == id);
    }
}
