@page "/listings"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FinalProject.Models
@using FinalProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FinalProject.Data.FinalProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="listings/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Listing">
    <PropertyColumn Property="listing => listing.Name" />
    <PropertyColumn Property="listing => listing.Breed" />
    <PropertyColumn Property="listing => listing.Age" />
    <PropertyColumn Property="listing => listing.Size" />
    <PropertyColumn Property="listing => listing.Location" />
    <PropertyColumn Property="listing => listing.Description" />
    <PropertyColumn Property="listing => listing.ImageUrl" />
    <PropertyColumn Property="listing => listing.Temperance" />
    <PropertyColumn Property="listing => listing.Health" />

    <TemplateColumn Context="listing">
        <a href="@($"listings/edit?id={listing.Id}")">Edit</a> |
        <a href="@($"listings/details?id={listing.Id}")">Details</a> |
        <a href="@($"listings/delete?id={listing.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {

    private Listing? listing;

    private FinalProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
