@page "/success-chat"
@using Microsoft.EntityFrameworkCore
@using FinalProject.Models
@using FinalProject.Data
@inject NavigationManager NavigationManager

<PageTitle>Success</PageTitle>

<div class="container mt-5 text-center">
    <h2 style="font-family: 'Roboto', sans-serif; font-weight: 700;">Message Sent Successfully!</h2>
    <p>
        Thank you for reaching out to Doggy Domain. We will find a response for you soon.
    </p>
    <br />
    <a class="btn btn-success" href="/">Go Back Home</a>
</div>