@page "/shelters/view"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FinalProject.Models
@using FinalProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FinalProject.Data.FinalProjectContext> DbFactory

<PageTitle>View Shelters</PageTitle>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<h1 style="font-family: 'Roboto', sans-serif; font-weight: 700; text-align: center; text-decoration: underline overline;">SHELTERS</h1>
@foreach (var shelterItem in Shelters)
{
    <div class="container mt-12">
        <div class="card" style="font-family: 'Roboto', sans-serif;">
            <div class="card-body">
                <h3 style="font-size: 30px; font-weight: bold; color: #1861ac;">@shelterItem.Name</h3>
                <h4 style="font-size: 20px;">@shelterItem.Email</h4>
                <h4 style="font-size: 20px; font-weight: bold">@shelterItem.PhoneNumber</h4>
            </div>
        </div>
    </div>
}

<br />
<br />
<br />
<br />
<AuthorizeView>
    <Authorized>
        <form action="/submit" method="POST">
            <button type="submit" class="btn btn-primary" onclick="window.location.href='/shelters'; return false;">Shelter Settings</button>
        </form>
    </Authorized>
</AuthorizeView>
@code {
    private FinalProjectContext context = default!;

    private List<Shelter> Shelters { get; set; } = new List<Shelter>();

    protected override async Task OnInitializedAsync()
    {
        // Fetch all events from the database
        Shelters = await context.Shelter.ToListAsync();
    }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
